/* Styles go here */

body {
  margin: 0;
  padding: 0;
}

table td,th {
  border: 1px solid red;
}

.name {
  width: 50px;
}
.age {
  width: 50px;
}
.number {
  width: 300px;
}


.header {
  position: fixed;
  background: red;
  z-index: 10;
}

.body {
  position: absolute;
  top: 40px;
}